* {
    font-family: 'Baloo 2', cursive;
}

body {
 
 background-color: black; 

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 5%;
}



.container-table {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* .container {
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    flex-direction: column;
}     */


.table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    box-shadow: 5px 5px 20px rgb(255, 45, 227);
    border-radius: 20px;

}

.table thead tr {
    background-color: rgb(149, 70, 252);
    color: white;
    text-align: left;
    font-weight: bold;
}

.table th, 
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid rgb(192, 55, 255);
}

.table tbody tr:nth-of-type(even) {
    background-color: rgb(213, 185, 250) ;
}

.table tbody tr {
    background-color: rgb(206, 133, 255) ;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(124, 47, 247);
}


.container-table {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-form {
    width: 60%;
}
.form {

    margin-top: 8%;
    display: flex;
    width: 100%; 
    flex-direction: column;
    align-items: center;
}

.form-item {
    margin-top: 5px;
    box-shadow: 4px 4px 10px rgb(255, 45, 227);
}

a {
    color: white;
    text-decoration: none;
    
}


.btn {
    border-radius: 10px;
    border: none;
   color: white;
   padding: 3px;
   width: 45%;
   box-shadow: 4px 4px 10px rgb(255, 45, 227);
    
}

.btn-width {
    margin-top: 10px;
}

.btn-delete {
    background-color: rgb(199, 57, 255);
}

.btn-info {
    background-color: rgb(50, 70, 255);
    
}

.th-action {
    text-align: center;
}

.td-btn {
    text-align: center;
    display: flex;
    justify-content: space-between;

}

.btn:hover {
    background-color: rgb(122, 135, 255);
    
    
}


.input {
    background-color: rgb(183, 138, 255);
    width: 100%;
    border-radius: 20px;
    border: none;
    height: 30px;
    padding-left: 15px;
}



.btn-save {
    background-color: rgb(50, 70, 255);
    margin-bottom: 20px;
    height: 30px;
}